.header.top, .footer {
    background: linear-gradient(300deg, #29164D, #4479B6, #360E80);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .lads-logo {
    height: 400px;
    width: auto;
  }

body {
  font-family: "Georgia", Times, serif;
}  

.parallax {
  /* Set a specific height */
  display: grid;
  min-height: 400px;
  background-image: url('./Assets/Images/hall-of-champions.jpg');
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.hall-of-champions {
  display: flex;
  align-self: center;
  margin-bottom: 100px;
}

.hall-of-champions > h2 {
  color: white;
  text-shadow: 2px 2px 3px black;
  display: flex;
}

.feature-icons {
  display: flex;
  justify-content: center;
}

.league-icon {
  width: 50px;
  margin-right: 15px;
}

.league-text {
  text-align: center;
}

.season-champion {
  text-shadow: 2px 2px 3px black;
}

.card-text {
  list-style-type: none;
}

.card-img-top {
  height: 50px;
  width: 50px;
}

.champion-picture {
  border-radius: 250%;
  height: 350px;
  width: 350px;
}

.card-body {
  background-color: #f8f9fa
}

.card-header {
  background-color: gold;
}

.season-winner-header {
  font-weight: 700;
  margin-bottom: 0;
}

.team-name {
  font-size: 2rem;
  font-weight: 700;
}

.player {
  text-align: left;
  margin-left: 55px;
}